In [2]:
# import required libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

print("Libraries imported successfully.")

Libraries imported successfully.

In [6]:
# load the dataset 
df = pd.read_csv('data/alphabet_stock_data.csv', parse_dates=['Date'])

# set date as index and sort 
df.set_index('Date', inplace=True)
df.sort_index() 

# display the first few rows of the dataframe
print("Data shape:", df.shape)
df.head()

Data shape: (127, 6)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-04-01,1122.000000,1129.689941,1097.449951,1105.619995,1105.619995,2343100
2020-04-02,1098.260010,1126.859985,1096.400024,1120.839966,1120.839966,1964900
2020-04-03,1119.015015,1123.540039,1079.810059,1097.880005,1097.880005,2313400
2020-04-06,1138.000000,1194.660034,1130.939941,1186.920044,1186.920044,2664700
2020-04-07,1221.000000,1225.000000,1182.229980,1186.510010,1186.510010,2387300